.create-wrap{
  width : 100vw;
  height : 100vh;
  position: relative;
  .background-thumbnail{
    position : absolute;
    top : 0;
    left: 0;
    width : 100%;
    height : 100%;
    -webkit-filter: blur(22px);
    filter: blur(22px);
  }
  .gray-zone{
    height : 100%;
    padding : 6% 5% 0 5%;
    background: #000000;
    opacity: 0.35;

    .btn-section{
      max-width : 100vw;
      margin-bottom : 7%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width : 15px;
        height : 15px;
        margin-right: auto;
      }
      .contents-length{
        opacity: 0.6;
        font-family: 'roboto', sans-serif;
        font-size : 15px;
        margin-left : 6.5%;
      }
      .save-btn{
        font-family: 'roboto', sans-serif;
        font-size : 18px;
        margin-left: auto;
      }
    }
    textarea{
      display: block;
      margin-top : 7%;
      all : unset;
      width : 100%;
      height: 78%;
      overflow: scroll;
      font-family: NanumMyeongjo, sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.7;
      letter-spacing: -0.27px;
      color: #ffffff;
      -ms-word-break: break-all;
      word-break: break-all;
    }

    .description{
      width : 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.6;
      font-family: NanumMyeongjo, sans-serif;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.55;
      letter-spacing: -0.29px;
      text-align: center;
      color: #ffffff
    }

    .book-title{
      position: absolute;
      left : 0;
      bottom: 5%;
      width : 100%;
      text-align: center;
      opacity: 0.6;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 0.9rem;
      line-height: 2.09;
      color: #ffffff;
    }
  }
  .thumbnail-section{
    position: absolute;
    left: 0;
    top : 12%;
    z-index : 10;
    width : 100%;
    height : 130px;
    text-align: center;
    img{
      width : 110px;
      height : 110px;
    }
  }
}