.create-wrap{
  width : 100vw;
  height : 100vh;
  position: relative;
  .background-thumbnail{
    position : absolute;
    top : 0;
    left: 0;
    width : 100%;
    height : 100%;
    -webkit-filter: blur(22px);
    filter: blur(22px);
  }
  .gray-zone{
    //max-width : 100vw;
    height : 100%;
    background-color: #000000;
    opacity: 0.35;
    z-index : 2;
    padding : 6% 5% 32px 5%;
    .btn-section{
      max-width : 100vw;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width : 15px;
        height : 15px;
        margin-right: auto;
      }
      .contents-length{
        opacity: 0.6;
        font-family: 'roboto', sans-serif;
        font-size : 15px;
        margin-left : 4.5%;
      }
      .save-btn{
        font-family: 'roboto', sans-serif;
        opacity: 0.6;
        font-size : 18px;
        margin-left: auto;
      }
    }
  }
}