.wrap{
  .black-top{
    width : 100vw;
    height : 17%; // 6분의1
    background-color: #000000;
    display: flex;
    align-items: center;
    .btn-section{
      width : 100%;
      max-height: 50%;
      padding : 0 5% 0 5%;
      img{
      }
      span{
        float : right;
        margin-top : 2.5px;
        color : white;
        font-size : 21px;
        font-family: 'roboto', sans-serif;
      }
    }
  }
}